body{
    box-sizing: border-box;
}
#top{
    background-color: rgb(228, 222, 222);
}
header{
    background-color:rgb(197, 194, 194);
    
}

h1{
    text-align: center;
    color: white;
    font-variant: small-caps;
    font-family:'Times New Roman', Times, serif
}

h2{
    text-align: center;
    color: white;
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
}

img{
    width: 1100px;
    height: 540px;
    margin: 0 auto;
    display: block;
}
