/* I am going to start working on making my aside move down below article when I view on a smaller screen*/

body{
    box-sizing: border-box;
    margin: 0;
}

header{
    display: block;
    margin: 0 auto;
}

header>h1{
    text-align: center;
    color: rgb(39, 38, 38);
    font-variant: small-caps;
    font-family:'Times New Roman', Times, serif;
    margin-top: 0;
}

header>h2{
    text-align: center;
    color: rgb(65, 64, 64);
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
}

#mainphoto{
    width: 50%;
    margin: 0 auto;
    display: block;

}

#container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2%;
}


#container>#article{
    width: 950px;
    margin: 10px;
}

#container>#aside{
    width: 355px;
    margin: 10px;
}

h3{
    text-align: center;
    margin-bottom: 0%;
    margin-top: 0;
}


#asidephoto{
    width: 100%;
    margin-top: 16px;
}

table{
    border-collapse: collapse;
}
td{
    border-top: 1px solid black;
    text-align: left;
}

td>p{
    margin-left: 5%;
}

#asidetable{
    height: 300px;
}

#asidetable .summary{
    text-align: center;
}