/* I am going to start working on making my aside move down below article when I view on a smaller screen*/


body{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

header{
    display: block;
    margin: 0 auto;
}

h1{
    text-align: center;
    color: rgb(39, 38, 38);
    font-variant: small-caps;
    font-family:'Times New Roman', Times, serif;
    margin-top: 0;
}

h2{
    text-align: center;
    color: rgb(65, 64, 64);
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
}

figure{
    margin: 0;
}

#mainphoto{
    width: 50%;
    height: 90%;
    margin: 0 auto;
    display: block;
}

#asidephoto{
    width: 100%;
    height: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}

article{
    margin-top: 0;
    display: block;
    margin: 0 auto;
}

h3{
    text-align: center;
    margin-bottom: 0%;
    margin-top: 0;
}

article{
    width: 60%;
}

aside{
    width: 25%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

table{
    border-collapse: collapse;
}
td{
    border-top: 1px solid black;
    text-align: left;
    padding-left: 10px;
    padding-right: 5px;
}

#asidetable{
    height: 300px;
}